.DS_Store
build
build/*
*.build
*.pbxuser
*.perspectivev3
Debug/
*.cbTemp
*.log
*.xcworkspacedata
*.xcuserstate
*/xcuserdata/*
*.xcuserdatad
*.cache
*.status
*.o
.deps/*.*o
config.h
Makefile
Pyramid
pyramid-0.0.1/*
stamp-*
